<div class="container">
  <div class="phone-container">
    <%= image_tag('iphone.png') %>
  </div>
  <div class="content-container">
    <h2 class="header"> Metro Texter</h2>
    <h2 class="sub-header">Metro Train Times via SMS</h2>

    <h2 class="instructions">Text the name of a Metro station to (202) 800-1876 and receive a reply with upcoming arrivals</h2>
    <h2 class="instructions">Text "set PHRASE to NAME OF STATION" and Metro Texter will send you arrivals when you text it that phrase</h2>
  </div>
</div>
