<div class="container">
<div id="welcome-hero" class="hero-unit span9">
 <h1>Responses</h1>

<hr>
<table>
  <tr>
    <th>to</th>
    <th>body</th>
  </tr>
  <% @responses.reverse.each do |response| %>
  <tr>
    <td><%= response.to %></td>
    <td><%= response.body %></td>
  <tr>
  <% end %>
</table>

</div>
</div>