// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body              { background: url(background.jpg) no-repeat center center fixed; }
.container        { position: relative; margin: 15px auto 0 auto; width: 850px; height: 100%;}
.phone-container  { width:320px; display: inline-block;}
.content-container{ width:495px; display: inline-block; vertical-align: top; padding-top: 40px;
  .header { color: white; font-size: 80px;}
  .sub-header {color: white; font-size: 30px; margin-top: 20px;}
  .instructions {color: white; font-size: 18px; line-height: 20px; margin-top: 30px; letter-spacing: 1px;}
}



.form-container {margin-top: 30px;}
#number{
  background-color: transparent; border: none; font-size: 16px; display: block; padding: 5px 0;
  color: white; border-radius: 0; border-bottom: 2px solid white; margin-bottom: 15px; letter-spacing: 1px; width: 300px;

}

#number:focus {
  outline: none;
}


#thanks {display: none;}
#submit-form {
  border: 2px solid white; color: white;
  background-color: transparent; font-size: 16px; display: block;
  border-radius: 0; margin-bottom: 15px; letter-spacing: 1px; width: 300px;
}


.credits { position: fixed; color: white; bottom: 10px; right: 20px;}
